.hero-section{
  background-image: url('images/bg.png');
  background-repeat: no-repeat;
  background-size: 100% 1200px !important;
}
.video-section{
  background-image: url('images/12.png');
  background-repeat: no-repeat;
  background-size: 100% 1700px !important;
}
.btn:hover{
  background: linear-gradient(135deg, rgba(112,140,201,1) 0%, rgba(9,212,75,1) 77%);
  color: white;
  transition: ease-in;
}